# Directory to download episodes to
downloadDir="~/Dropbox/HipHopShow"

# Shows to download
ShowsToDownload=(HipHopShow HipSistaHop)

## Show settings
# Triple J Hip Hop Show
ShowName[HipHopShow]="Hip-Hop-Show"
Type[HipHopShow]='stitch'
ShowDayOfWeek[HipHopShow]='thursday'
[[ $2 ]] && ShowDate[HipHopShow]=$(getDateFromParam $2) || ShowDate[HipHopShow]=$(setDateByDay ${ShowDayOfWeek[HipHopShow]})
UrlStart[HipHopShow]='http://abcradiomodhls.abc-cdn.net.au/i/triplej/audio/hip-'"${ShowDate[HipHopShow]}"'.m4a/segment'
UrlEnd[HipHopShow]='_0_a.ts?null=0'
FinishError[HipHopShow]='<HTML><HEAD><TITLE>Error</TITLE></HEAD><BODY>'
OutputFileName[HipHopShow]="${ShowDate[HipHopShow]}"'_'"${ShowName[HipHopShow]}"'.m4a'

# Hip Sista Hop - 3CR
ShowName[HipSistaHop]="Hip-Sista-Hop"
Type[HipSistaHop]='direct'
ShowDayOfWeek[HipSistaHop]='sunday'
[[ $2 ]] && ShowDate[HipSistaHop]=$(getDateFromParam $2) || ShowDate[HipSistaHop]=$(setDateByDay ${ShowDayOfWeek[HipSistaHop]})
DownloadFileName[HipSistaHop]="${ShowDate[HipSistaHop]:0:4}${ShowDate[HipSistaHop]:5:2}${ShowDate[HipSistaHop]:8:2}"'1600_hip-sista-hop_64.m4a'
FullUrl[HipSistaHop]='http://emit-media-production.s3.amazonaws.com/3cr/hip-sista-hop/'"${ShowDate[HipSistaHop]:0:4}"'/'"${ShowDate[HipSistaHop]:5:2}"'/'"${ShowDate[HipSistaHop]:8:2}"'/1600/'"${DownloadFileName[HipSistaHop]}"
OutputFileName[HipSistaHop]="${ShowDate[HipSistaHop]}"'_'"${ShowName[HipSistaHop]}"'.m4a'
